/*******************************

    Setting global font sizes

*********************************/


:root {
    /* Font size */
    --h1-fontsize: 4rem;
    --h2-fontsize: 2.5rem;
    --h3-fontsize: 2.2rem;
    --h4-fontsize: 1.75rem;
    --h5-fontsize: 1.25rem;
    --h6-fontsize: 1.2rem;
    --p-fontsize: 1.2rem;
    --li-fontsize: 1.5rem;
    --a-fontsize: 3rem;

    /*  colors */

    --h1-color: #E07677;
    --background-color: #ffffff;
    --flavour-background: #9898CB;
    --flavours-background: #583795;
    --flavours-color: #CF677D;
    --flavour-button-color: #B7DEC3;
    --header-footer-color: #7E67AD;


    /* Button Master Styles */

    --button-color: var(--flavours-color);
    --button-background: url(images/sprinkles.svg);
    --button-radius: 8px;
    --button-border: 1px solid black;
    --button-shadow: 2px 5px 8px rgba(224,118,119,0.44);

}


/* Applying site wide default stlyes */

* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, h5, h6, p, label, input {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: var(--h1-fontsize);
    color: var(--h1-color)
}
h2 {
    font-size: var(--h2-fontsize);
}
h3 {
    font-size: var(--h3-fontsize);
}
h4 {
    font-size: var(--h4-fontsize);
}
h5 {
    font-size: var(--h5-fontsize);
}
h6 {
    font-size: var(--h6-fontsize);
}
p {
    font-size: var(--p-fontsize);
}

li {
    font-size: var(--li-fontsize);
}


/****************************

Main styling starts here

******************************/

/*******************

    Wrappers
    Allows page to be responsive to different screen sizes

******************/
.outer_wrapper {
    max-width: 100vw;
}

.inner_wrapper {
    max-width: 95vw;
    margin: 0 auto;
}


/*******************************

        Header styling

********************************/


header {
    background-color: var(--header-footer-color);
    margin: 0 auto;
    padding: 1rem;
}

header h1 {
    text-align: center;
}

header nav {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
/* selects each menu link item */
header nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.9rem;
}
/* Site wide button stlying hover */
* a:hover {
    background-color: var(--h1-color);
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(224,118,119,0.44);
}


/********************


Main section Styling


*************************/

/* Selects  */
.hero {
    margin: 1em auto;
    max-width: 100%;
    background-color: var(--flavour-background);
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 1px 5px 2px var(--flavour-background);
}
/* selects cupcake SVG */
.hero img {
    display: block;
    padding-top: 1rem;
    margin: 1em auto 2em;
    max-width: 75%;
}

.hero a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2.5em;
    padding: .4rem;
    margin: .50em;
    background-color: var(--h1-color);
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 1px 8px 5px rgba(224,118,119,0.44);
}

.hero a:hover {
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.44) inset;
    color: white;
    animation: orderbutton 3s infinite ease-in-out;
}


/* Todays Flavours */


/* Our Flavours Section - Updates for daily flavours */

.flavour {
    padding: .80em;
    text-align: center;
    background: url(/images/pattern_sprinkles.svg);
}

.flavour h3 {
    text-transform: uppercase;
    background-color: var(--h1-color);
    color: white;
    padding: 1.5rem;
    border: rgba(0, 0, 0, 0.39) 10px solid;
    border-radius: 15px;
}



/* List of Flavours */
.flavour ul {
    color: white;
    display: flex;
    justify-content: center;
    margin: 1em;
    background-color: var(--h1-color);
    border-radius: 15px;
    padding: 1em;
    border: solid rgba(0, 0, 0, .39) 10px;
}



.flavour li {
    margin: 0 auto;
    font-size: 1.2em;
}


@keyframes orderbutton {
    0% {
        transform: scale(1.0);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

.our_story {
    max-width: 88vw;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    margin: .43em auto;
    background-color: var(--flavour-background);
    box-shadow: 2px 5px 8px rgba(224,118,119,0.44);
}

.our_story h2 {
    color: white;
}
.our_story img {
    margin: 0 auto;
}

.our_story p {
    margin-bottom: .80em;
    color: white;
}

.our_story a {
    text-decoration: none;
    color: black;
    font-size: calc(var(--a-fontsize) - .88em);
    background: var(--button-background);
    background-color: var(--button-color);
    padding: .1em;
    border-radius: var(--button-radius);
    border:var(--button-border);
    box-shadow: var(--button-shadow);
}

.our_story a:hover {
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.44) inset;
    color: white;
}



/* Styling Footer */

.contact_us {
    margin: 0 auto;
}

.contact_us div {
    margin: 0 auto 1em;
    display: block;
    text-align: center;
}

.contact_us h1{
    margin: .22em auto;
}


.contact_form {
    margin: 0 auto;
    background-color: var(--flavour-background);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 2px 5px 8px rgba(224,118,119,0.44);
}

.contact_form h3 {
    font-size: calc(var(--h3-fontsize) - .75em);
    text-align: center;
    color: black;
    margin: .75em;
    padding-top: 1em;
    border-top: var(--h1-color) 2px solid;
}

.contact_form input, textarea {
    display: block;
    width: 50%;
    margin: .22em auto;
    resize: none;
    border-radius: var(--button-radius)
}

.contact_form label {
    font-size: var(--h6-fontsize);
    margin: .22em auto;
}

.contact_form #submit {
    margin-top: .52em;
    background: var(--button-background);
    background-color: var(--button-color);
    border-radius: var(--button-radius);
    border: var(--flavours-color) 1px solid;
    color: black;
    padding: .55em;
    box-shadow: var(--button-shadow);
}

/* Contact forms */

footer {
    background-color: var(--header-footer-color);
    padding: 1em;
    border-top: 2px var(--flavours-color) solid;
    border-bottom: 2px var(--flavours-color) solid;
    justify-content: center;
}
/* Selects headings within footer */


/* Selects hours table */
footer table {
    margin: 1em auto;
    color: white;
}
footer table caption {
    margin-bottom: .50em;
}

footer table caption h3 {
    font-family: 'Dancing Script', cursive;
    color: var(--h1-color);
    margin-bottom: .50em;
}

footer table:nth-child(1) caption h3 {
    animation: openFrom 3s infinite ease-in-out;

}

/* Table Headings */
footer table th {
    font-size: var(--h5-fontsize);
}

/* Hours Table Items */
footer table td {
    padding: 0.5rem;
}
/* links within table */
footer table a {
    text-decoration: none;
    color: white;
}
/* Selects text within table A links */
footer table p {
    color: white;
}

/* Styling Line Breaker within Footer */

.line_breaker {
    margin: 1em auto;
    border-bottom: var(--h1-color) 1px solid;
}

.contact_submit {
    justify-content: center;
    background-color: var(--flavour-background);
    margin: 1em auto;
    padding: 2em;
    width: 75vw;
    border-radius: 15px;
    }

/* Animations*/

@keyframes openFrom {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.5);
    }
}



/* Media Queries */

/* Desktop */

@media screen and (min-width: 720px) {

    /* setting inner wrapper for better spacing */
    .inner_wrapper {
        max-width: 85vw;
    }

    /* Adjusting Nav to be center */
    header nav  {
        margin: .50em auto;
        justify-content: space-around;
        width: 30vw;
    }

/* Selecting entire main content for alignment using grid  */
    main {
        display: grid;
        grid-template-areas:
        "b b ."
        "about order .";
        gap: 1em
        ;

    }

    .flavour {
        margin-top: 1em;
        grid-area: b;

    }
    .flavour h3 {
        font-size: 3em;

    }

    .flavour li {
        font-size: 2em;
    }

    .our_story {
        grid-area: about;
        max-width: 100vw;
        margin: 0 auto;
        justify-content: center;
    }

    .our_story img {
        max-width: 30vw;
    }

    .our_story p {
        font-size: 1.8em;
    }
    .hero {
        margin: 0 auto;
        height: 87vh;
        width: 30vw;
        grid-area: order;
        box-shadow: 2px 5px 8px rgba(224,118,119,0.44);
    }


    .hero img {
        max-width: 25vw;
    }


    footer {
        margin: 1em 0 0;
    }

    footer div {
     display: flex;
     width: 50%;
    }

    footer div table {
        justify-content: space-around;
    }

    footer p {
        color: white;
        font-size: .88em;
        text-align: right;
    }

    .contact_us {
        margin: 0 auto;
        justify-content: center;
        width: 70vw;
    }


}

